/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Estilos para el contenedor principal */
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de bandas */
.band-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para cada elemento de la lista */
.band-item {
  width: calc(33.33% - 20px); /* Esto permite que haya 3 elementos por fila con espacio entre ellos */
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

/* Estilos para las imágenes de las bandas */
.band-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilos para los enlaces de los videos */
.band-video {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

.band-video:hover {
  text-decoration: underline;
}
