body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  

  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .band-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  .band-item {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  
  .band-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  .band-video {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
  
  .band-video:hover {
    text-decoration: underline;
  }
  